.singin {
  display: grid;
  grid-template-columns: 6fr 6fr;
  width: 100%;
  height: 100vh;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  gap: 18px;
  padding: 18px;
}

.right-container {
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;

  app-photo-slide {
    width: 100%;
    height: 100%;
  }
}

