///* Główna strona logowania */
//.signin {
//  display: flex; //Ustawia oba kontenery obok siebie
//  flex-direction: row; //Poziomy układ
//  width: 100%;
//  height: 100vh;
//  background-color: #ffffff;
//  //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
//  overflow: hidden; /* Ukrywa ewentualne przepełnienia */
//
//  /* Sekcja logowania */
//  .signin-container {
//    flex: 2;
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
//    //padding: 45px 37px;
//    //gap: 20px;
//    padding: 50px;
//
//    border-radius: 20px;
//    //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
//  }
//
//  /* Sekcja zdjęcia (PhotoSlide) */
//  .photo-container {
//    flex: 3;
//    display: flex;
//    align-items: center;
//    background-color: #f5f7fa; /* Domyślne tło, jeśli zdjęcie nie jest dostępne */
//    padding: 20px;
//
//  }
//
//}
//

.singin {
  display: grid;
  grid-template-columns: 2fr 3fr; /* proporcje 2/5 i 3/5 */
  width: 100%;
  height: 100vh; /* pełna wysokość przeglądarki */
  overflow: visible;
}

/* Lewa część */
.left-container {
  display: flex;
  flex-direction: column; /* wszystko pojawia się pod sobą */

  //background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  //border-right: 1px solid #ccc;
  //background: rgba(255, 255, 255, 0.8); /* Zastosowanie przezroczystości w tle */
  overflow: visible; /* Zapewnienie, że cień z prawego kontenera nie zostanie przycięty */
  position: relative; /* Potrzebne dla absolutnie wypozycjonowanych elementów */
  z-index: 1; /* Upewnienie się, że nie będzie zakrywane */

  gap: 20px; /*Odstęp pomiedzy elementami*/

  padding: 20px;
  //overflow-y: auto; /* jeśli za dużo treści, pojawi się scroll */
}

/* Prawa część */
.right-container {
  //background-color: #dce3f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%; /* Cała szerokość */
  height: 100%; /* Cała wysokość */
  overflow: hidden; /* Ukrycie nadmiarowych elementów */

  app-photo-slide {
    width: 100%; /* Wypełnia przestrzeń kontenera */
    height: 100%; /* Wypełnia przestrzeń kontenera */
  }

}

