.logo {
  width: 121px;
  height: 31px;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 31px;
  color: #52679C;
  flex: none;
  order: 0;
  flex-grow: 0;
}
