.trips-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.trips-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  flex: 1;
  min-height: 58px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.trips-header__add-button {
  flex-shrink: 0;
  align-self: flex-start;
  margin-top: 0;
}

.trips-header__sort-button {
  flex-shrink: 0;
  align-self: center;
}

.trips-header__title {
  width: 346px;
  height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Enriqueta', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  color: #000000;
  margin: 0;
}

.trips-header__filters {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 30px;
  width: 580px;
  height: 58px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

