.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 10px;
  gap: 27px;
  width: 226px;
  height: 38px;
  background: rgba(82, 103, 156, 0.1);
  box-shadow: inset 0px 0px 5px rgba(82, 103, 156, 0.6);
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.47px;
    height: 14.42px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Enriqueta', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(82, 103, 156, 0.4);

    &::placeholder {
      color: rgba(82, 103, 156, 0.4);
    }
  }
}
