.singin {
  display: grid;
  grid-template-columns: 6fr 5fr; /* proporcje 2/5 i 3/5 */
  width: 100%;
  height: 100vh; /* pełna wysokość przeglądarki */
  overflow: visible;
}

/* Lewa część */
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  gap: 20px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

/* Prawa część */
.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  app-photo-slide {
    width: 100%;
    height: 100%;
  }
}
