.logo {
  width: 101px;
  height: 26px;

  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
  text-align: center;
  color: #52679C;

  flex: none;
  order: 0;
  flex-grow: 0;
}
